DataRetrivalTimerGUI/Service References/HttpDataAccess/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArkivDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArkivDocument" nillable="true" type="tns:ArkivDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArkivDocument" nillable="true" type="tns:ArrayOfArkivDocument" />
  <xs:complexType name="ArkivDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedById" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArkivDocument" nillable="true" type="tns:ArkivDocument" />
</xs:schema>